body{ font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
h1{
    font-size: x-large;
    text-align: center; 
    filter:uppercase;
}

p{
    font-size: large;
    text-align: left; 
    filter:uppercase;
}

h2{
    font-size: x-large;
    text-align: center; 
    filter:uppercase;
}


  .float-container {
    border: 3px solid #fff;
    padding: 20px;
    }

.float-child {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: left;
    align-items: center;
    width: 48%;
    height:100%;
    float: left;
    padding: 10px;
    border: 5px solid grey;
    margin-bottom: 30px;
}

  img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
   
  }